

body::-webkit-scrollbar{
	display:block;
	width: 5px;
	padding: 2px;
	border-radius:20px;
}

body::-webkit-scrollbar-thumb{
	background:#3D3A3A;
	border-radius: 20px;
}

#div_scroll::-webkit-scrollbar{
	display:block;
	width: 5px;
	border-radius:20px;
}

#div_scroll::-webkit-scrollbar-thumb{
	background:#3D3A3A;
	width:5px;
	border-radius: 20px;
}


pre::-webkit-scrollbar{
	display:block;
	width: 10px;
	border-radius:20px;
}

pre::-webkit-scrollbar-thumb{
	background:#4b4848;
	width:10px;
	border-radius: 20px;
}
